.scoreboard-col-logo {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.scoreboard-col {
  height: 93vh;
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 25px;
  text-align: center;
}
