.scoreboard-col-logo {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.scoreboard-col {
  height: 93vh;
  border-radius: 25px;
  text-align: center;
  padding: 100px;
}
