.scoreboard-col-logo {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.scoreboard-col {
  height: 93vh;
  border-radius: 25px;
  text-align: center;
  padding: 100px;
}

@font-face {
  font-family: 'Henny Penny';
  src: url('/fonts/HennyPenny-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Imperial Script';
  src: url('/fonts/ImperialScript-Regular.ttf') format('truetype');
  font-style: normal;
}
.scoreboard-score-card {
  color: #0153a2;
}

.scoreboard-score-col {
  justify-content: space-around;
  justify-items: center;
}
